<!-- wp:template-part {"slug":"header","tagName":"header","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"section-hero","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"section-marquee","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"section-about","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"section-skills","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"section-projects","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"section-experience","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"section-contact","theme":"anup-portfolio"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"anup-portfolio"} /-->
